/*
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ionicons/dist/css/ionicons.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";
@import "~icheck/skins/square/blue.css";

@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~jquery-confirm/css/jquery-confirm.css";
@import "~orgchart/src/css/jquery.orgchart.css";
@import "~select2/dist/css/select2.css";
@import "~admin-lte/dist/css/AdminLTE.css";

.upload-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.upload-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.upload-input-title {
    margin-left:2px;
}
.has-error {
	color:#d84335;
	border-color:#d84335;
}
