
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";

@import "~jquery-confirm/css/jquery-confirm.css";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    text-align: center;
	justify-content:center;
  }
}


@media screen and (max-width: 767px) {
	div.dataTables_wrapper div.dataTables_paginate {
		float:none;
		text-align:center;
		}
	
	li.paginate_button.previous {
        display: inline;
    }
 
    li.paginate_button.next {
        display: inline;
    }
 
    li.paginate_button {
        display: none;
    }
}


